version: '3'
services:
  app:
    build: frontend/.
    ports:
      # - "80:4200" --for development only
      - "80:80"
    volumes:
      - '/app/frontend/node_modules'
      # - './frontend/src:/app/frontend/src' --for deployment only
  mongodb:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - database:/data/db'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8082:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongodb:27017/
  backend:
    build: backend/.
    environment:
      # DATABASE_SERVICE_HOST: mongodb
      DATABASE_HOST: mongodb
    ports:
      - "3000:3000"
    volumes: 
    #   - './backend/public:/app/backend/public'
    #   - './backend/routes:/app/backend/routes'
    #   - './backend/views:/app/backend/views'
    #   - './backend/models:/app/backend/models'
      - './backend/app.js:/app/backend/app.js'
    depends_on:
      - mongodb
volumes:
  database: